<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>
    <div class="centered">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>GitHub Username</mat-label>
                <input matInput #message maxlength="256" id="userID" placeholder="Ex. caferacer98">
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="accent" id="search" (click)="openDialog()">Search</button>
        </form>
    </div>
    <script>
        var input = document.getElementById("userID");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("search").click();
            }
        });
    </script>
</body>

</html>