<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>
    <div class="header">
        <img src="assets/img/GitHub Logo.svg" alt="GitHub Logo" style="height:120px;">
        <div class="header-search" style="float: right;">
            <form class="example-form">
                <mat-form-field class="search-form" appearance="outline">
                    <mat-label>GitHub Username</mat-label>
                    <input matInput id="userID" placeholder="Ex. caferacer98">
                    <button mat-raised-button color="accent" id="search" style="float: right;">Search</button>
                </mat-form-field>
            </form>
        </div>
    </div>
    <!--Script that allows for the enter key to query a search-->
    <script>
        var input = document.getElementById("userID");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("search").click();
            }
        });
    </script>
</body>

</html>